star5.tex
star4_3.tex
triangle_graph_horn_2_1_2_1.tex
triangle_graph_horn_2_2_1_1.tex
y_1_1_3_1.tex
y_2_1_1_2_1.tex
chomp_graph.py
scripts
experiment.html
k5_out.txt
K5_output.txt
references.bib
macaulay_graph_results.txt
fan_graph.tex
y_1_1_2_1.tex
triangle_graph_horn_1_1_3_1.tex
a_graph.tex
a_graph_1_2_1.tex
a_graph_1_3_1.tex
a_graph_1_4_1.tex
a_graph_3_2_1.tex
augmented_triangle.tex
cross.tex
caterpillar.tex
bull.tex
bi_y.tex
dart_graph.tex
dart_graph_3.tex
dart_graph_3_1.tex
dart_graph_3_3.tex
dart_graph_4.tex
dart_graph_4_1.tex
dart_graph_5.tex
dart_graph_5_1.tex
isolated_edge.tex
isolated_vertex.tex
hairytriangle.tex
K4.tex
square_2_1_2_1.tex
star3.tex
star3_3.tex
star3_4.tex
star4.jpg
star4.tex
star6.tex
triangle_graph_3_2_1.tex
triangle_graph_2_2_1.tex
triangle_graph_2_2_2.tex
triangle_graph_horn_1_1_2_1.tex
theta6.tex
theta3.tex
theta4.tex
theta5.tex
