star5.tex
star4_3.tex
triangle_graph_horn_2_1_2_1.tex
triangle_graph_horn_2_2_1_1.tex
y_1_1_3_1.tex
y_2_1_1_2_1.tex
chomp_graph.py
scripts
experiment.html
k5_out.txt
K5_output.txt
references.bib
macaulay_graph_results.txt
fan_graph.tex
